@{
    ViewData["Title"] = "Agenda";
}

<div class="">
    <h2 class="mb-4">Contatos</h2>

    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status" id="loading-spinner">
            <span class="sr-only">Carregando agenda...</span>
        </div>
    </div>

    <ul class="list-group" id="contact-list">
    </ul>

    <div class="modal fade" id="contactModalView" tabindex="-1" aria-labelledby="contactModalViewTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contactModalViewTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="contactModalViewBody">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="contactModalForm" tabindex="-1" aria-labelledby="contactModalFormTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contactModalFormTitle">Adicionar Contato</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="contactModalFormBody">
                    <form id="ctcForm">
                        <div class="form-row">
                            <div class="form-group col">
                                <label for="ctcName">Nome</label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <input type="text" class="form-control" id="ctcName" name="name" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning btn-sm" id="contactModalFormClear">Limpar Formulário</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="contactModalFormSave">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            const apiUrl = "https://localhost:44381/api";
            const loadSpinner = $("#loading-spinner");

            function loadData() {
                const container = $("#contact-list");
                $.ajax(`${apiUrl}/contact`)
                    .done(function (data) {
                        loadSpinner.hide(0);
                        if (data.lenght == 0) {
                            container.replaceWith('<strong class="text-info">Lista Vazia</strong>');
                        } else {
                            container.empty()
                                .append(`<li class="list-group-item list-group-item-dark">
                                            <div class="d-flex w-100 justify-content-end">
                                                <button class="btn btn-sm btn-info" id="btn-new-ctc">Novo Contato</button>
                                            </div>
                                         </li>`);
                            data.forEach(function (contact) {
                                let resultComponentString = `<li class="list-group-item list-group-item-action">
                                                                <div class="d-flex w-100 justify-content-between">
                                                                    <div class="contact-item" data-id="${contact.id}">${contact.name}</div>
                                                                    <div>
                                                                        <button class="btn btn-sm btn-secondary btn-edit-ctc" data-id="${contact.id}">Editar</button>
                                                                        <button class="btn btn-sm btn-danger btn-rem-ctc" data-id="${contact.id}">Remover</button>
                                                                    </div>
                                                                </div>
                                                             </li>`;
                                container.append(resultComponentString);
                            });
                            registerActions();
                        }
                    })
                    .fail(function () {
                        loadSpinner.hide(0);
                        container.replaceWith('<strong class="text-danger">Erro ao ler API</strong>');
                });
            }
            loadData();

            function registerActions() {
                $('.contact-item').each(function () {
                    $(this).click(function () {
                        $.ajax(`${apiUrl}/contact/${$(this).attr('data-id')}`)
                            .done(function (data) {
                                console.log(data);
                                $('#contactModalViewTitle').empty().append(`Contato - ${data.name}`);
                                $('#contactModalViewBody').empty()
                                    .append('<p>Telefones:</p>')
                                    .append('<ul class="list-group">')
                                    .append(`<li class="list-group-item list-group-item-dark">
                                                <div class="d-flex w-100 justify-content-end">
                                                    <button class="btn btn-sm btn-info btn-new-pn">Novo Telefone</button>
                                                </div>
                                            </li>`);

                                data.phoneNumbers.forEach(function (phoneNumber) {
                                    $('#contactModalViewBody').append(`<li class="list-group-item">
                                                                           <div class="d-flex w-100 justify-content-between">
                                                                                (${phoneNumber.ddd}) ${phoneNumber.number}
                                                                                <div>
                                                                                    <button class="btn btn-sm btn-secondary btn-edit-pn" data-id="${phoneNumber.id}">Editar</button>
                                                                                    <button class="btn btn-sm btn-danger btn-rem-pn" data-id="${phoneNumber.id}">Remover</button>
                                                                                </div>
                                                                            </div>
                                                                       </li>`);
                                });
                                $('#contactModalViewBody').append('</ul>')
                                
                                $('#contactModalView').modal('show');
                            });
                    });
                });

                $('#btn-new-ctc').click(function () {
                    $('#contactModalForm').modal('show');
                });

                $('#contactModalFormSave').click(function () {
                    const name = $('#ctcName').val();
                    if (name.length > 0) {
                        $.ajax(`${apiUrl}/contact`, {
                            method: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify({ "name": $('#ctcName').val() })
                        }).done(function () {
                            loadData();
                        }).fail(function () {

                        });
                    }
                    
                    
                });

                $('.btn-rem-ctc').each(function () {
                    $(this).click(function (e) {
                        e.preventDefault();
                        if (confirm('Deseja Remover o contato ?')) {
                            $.ajax(`${apiUrl}/contact/${$(this).attr('data-id')}`, { method: 'DELETE' })
                                .done(loadData);
                        }
                    })
                });
            }
        });
    </script>
}
