@{
    ViewData["Title"] = "Agenda";
}

<div class="">
    <h2 class="mb-4">Contatos</h2>

    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status" id="loading-spinner">
            <span class="sr-only">Carregando agenda...</span>
        </div>
    </div>

    <ul class="list-group" id="contact-list">
    </ul>

    <div class="modal fade" id="contactModalView" tabindex="-1" aria-labelledby="contactModalViewTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contactModalViewTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="contactModalViewBody">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="contactModalForm" tabindex="-1" aria-labelledby="contactModalFormTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contactModalFormTitle">Adicionar Contato</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="contactModalFormBody">
                    <form id="ctcForm">
                        <div class="form-row">
                            <div class="form-group col">
                                <label for="ctcName">Nome</label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <input type="text" class="form-control" id="ctcName" name="name" required />
                                <label id="ctcName-error" class="error text-danger" for="ctcName"></label>
                            </div>
                        </div>
                        <input type="number" id="ctcId" name="id" disabled />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning btn-sm" id="contactModalFormClear">Limpar Formulário</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="contactModalFormSave">Salvar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="phoneModalForm" tabindex="-1" aria-labelledby="contactModalFormTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="phoneModalFormTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="phoneModalFormBody">
                    <form id="pnForm">
                        <div class="form-row">
                            <div class="form-group col-4">
                                <label for="pnName">DDD</label>
                            </div>
                            <div class="form-group col">
                                <label for="pnNumber">Number</label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">(</span>
                                    </div>
                                    <input type="number" min="2" max="2" class="form-control hide-arrows" id="pnDDD" name="ddd" required />
                                    <div class="input-group-append">
                                        <span class="input-group-text">)</span>
                                    </div>
                                </div>
                                <label id="pnDDD-error" class="error text-danger" for="pnDDD"></label>
                            </div>
                            <div class="form-group col">
                                <input type="number" min="8" max="9" class="form-control hide-arrows" id="pnNumber" name="number" required />
                                <label id="pnNumber-error" class="error text-danger" for="pnNumber"></label>
                            </div>
                        </div>
                        <input type="number" id="phId" name="id" disabled />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning btn-sm" id="phoneModalFormClear">Limpar Formulário</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="phoneModalFormSave">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/agenda.js"></script>
}
