@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo(a) a WebAgenda</h1>
    <p>Para visualizar os contatos, <a asp-area="" asp-controller="Home" asp-action="Agenda">clique aqui</a></p>
</div>
